











/*body {
  min-width: 630px; }

.container {
  padding-top: 25px;
  min-width: 630px;
  max-width: 780px;
  margin: auto; }

.margin .dateTime {
  display: inline-block;

}
.outercircle {


}
.margin .image {
  display: inline-block;
  margin-top: 0px;
  margin-left: 0px;
}
.body .pyramid {
  content: " ";
  position: absolute;
  border-style: solid;
  border-color: transparent #71C0E9 transparent transparent;
  top: -10px;
  left: 19px;
  margin-left: -36px;
  margin-top: 0px;
  width: 0;
  height: 0;
  border-width: 0 11px 17px 11px;
}

*/

