.body {
  min-width: 360px;
  max-width: 630px;
  width: 22px;
  margin-left: 30px;
}

.margin .dateTime {
  display: inline-block;
  margin-bottom: 21px;
  margin-left: 30px;
}

.margin .image {
  display: inline-block;
  margin-top: -80px;
  margin-left: 269px;
  margin-bottom: 0px;
}
.body .pyramid {
  content: " ";
  position: absolute;
  border-style: solid;
  border-color: transparent #71C0E9 transparent transparent;
  top: -10px;
  left: 19px;
  margin-left: -36px;
  margin-top: 0px;
  width: 0;
  height: 0;
  border-width: 0 11px 17px 11px;
}
